# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# === SabaCLI ===
SabaCLI/config/
SabaCLI/pySabaCLI/config.py
SabaCLI/ansible-master/**/*.retry
SabaCLI/ansible-master/vars_files/master-config.yml

# === SabaMaster ===
SabaMaster/ssl_certification/
